# Compiled JavaScript files
lib/

# TypeScript incremental compilation cache
*.tsbuildinfo

# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local

# Firebase cache
.firebase/

# Logs
*.log
npm-debug.log*
